<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./navbar/bootstrapLink.ejs %>
    <title><%= title %></title>
</head>
<body>
    <% include ./navbar/navbar.ejs %>
    <%if(error) {%>
        <%= error%>
    <%}%>
    <form action="/users/edit/<%= infoId.id%>" method="post">
        <p>First Name</p>
        <input type="text" name="firstName" value="<%= infoId.firstName%>">
        <p>Last Name</p>
        <input type="text" name="lastName" value="<%= infoId.lastName%>">
        <p>Gender</p>
        <input type="text" name="gender" value="<%= infoId.gender%>">
        <p>Email</p>
        <input type="text" name="email" value="<%= infoId.email%>">
        <p>Kelas</p>
        <select name="ClassId">
                <option value="" selected>NONE</option>
            <% for(let clas of data_kelas) { %>
                <option value="<%= clas.id %>"><%= clas.name %></option>
            <% } %>
        </select>
        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>